body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px
}
header,footer {
    background-color: aquamarine;
}
.site-title {
    color: blue;
}  
#my-image {
    box-shadow: 0 0 2px 1px black;
}  
article > ul {
   list-style-type: square; 
   }
article > ul > li:nth-child(odd){
    background: yellow; 
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin-bottom: 30px
}
nav a {
    text-decoration: none;
    background: lightgrey;
    padding: 10px 15px;
    border: 1px solid red;  
}
nav a:hover, nav a:focus {
    background-color: aqua;
}