/* Set page background color,font and remove margin */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
}
/* Center the main website container in the page */
.website {
    width: 1000px;
    margin: 0 auto;
    background-color: paleturquoise;
    padding-bottom: 15px; 
    margin-bottom: 15px;
}
/* Set header as the reference area */
header {
    position: relative;
}
/* Make header image fill full width */
header img {
    width: 100%;
    display: block;
}
/* Position the title on top of the header image */
header h1 {
    position: absolute;
    top: 45%;
    left: 37%;
    color: white;
    font-size: 46px;
    font-weight: normal;
}
/* Remove bullet points from navigation list */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Display navigation items in one row */
nav li {
    display: inline-block;
    width: 32.9%;
    border-right: 1px solid black;
    text-align: center; 
    font-size: 23px;  
}
/* Remove border on the last navigation item */
nav li:last-child {
    border-right: none;
}
/* Style the navigation links */
nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}
/* Add padding space on the right side of article */
article {
    padding-right: 15px;
}

/* Style the article image */
article img {
    width: 280px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
/* Add padding space in the main content area */
main {
    padding: 15px;
}
/* Style section title */
h2 {
    font-size: 32px;
    font-weight: normal;
}
h3 {
    font-size: 25px;
    font-weight: normal;
}
/* Add margin space between secions */
section {
    margin-top: 30px;
}
/* Decrease left padding space of facts list  */
section ul {
    padding-left: 15px;
}
/* Add border and style form */
form {
    border: 1px solid black;
    padding: 20px;
}
/* Display the input space full width for name an email*/
.input {
    width: 100%;
    margin: 10px 0px 10px 0px;
}
/* Increase space height for message */
textarea {
    height: 100px;
}
/* Style the button */
button {
    display: block;   
    margin-top: 15px; 
    padding: 15px;
}
/* Style footer and move text in footer to right */
footer {
    position: relative;
    top: 2px;
    left: 86%;
}